body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #ffffff;
}
img {
  max-width: 100%;
}
h1 {
  font-size: calc(55px + 1.5vw);
}
h3 {
  padding-left: 10%;
  font-size: calc(16px + 0.8vw);
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 5%;
}
header {
  display: block;
  padding-left: 5%;
  padding-right: 5%;
}
.header-logo {
  height: 100%;
  width: auto;
}
.header-menu {
  position: absolute;
  top: 8vh;
  left: 90%;
  box-sizing: border-box;
}
.menu {
  position: relative;
  display: block;
  float: right;
  width: 30px;
  height: 50px;
  cursor: pointer;
}
.menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #333333;
  opacity: 1;
}
.menu span:nth-child(1) {
  top: -30px;
  width: 35px;
  left: -5px;
}
.menu span:nth-child(2),
.menu span:nth-child(3) {
  top: -20px;
  width: 25px;
  left: 5px;
}
.menu span:nth-child(4) {
  top: -10px;
}

.header-tagline {
  display: block;
  position: absolute;
  top: 20%;
  left: 30%;
}
.header-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 70px;
}
.header-text-line-1 {
  text-align: left;
  color: #dbdbdb;
  font-size: calc(30px + 1vw);
  font-weight: 100;
}
.header-text-line-2 {
  text-transform: uppercase;
  color: #d22425;
  font-weight: 700;
  font-size: calc(60px + 2vw);
  line-height: 100px;
}
.header-text .text-img {
  display: inline;
}
.header-text-line-3 {
  flex-wrap: wrap;
  text-align: left;
  color: #dbdbdb;
  font-size: calc(55px + 1.5vw);
  font-weight: 100;
}
.header-scroll {
  text-align: center;
  margin-top: 20vh;
  margin-bottom: 10%;
  cursor: pointer;
}

.container {
  padding-left: 5%;
  margin-top: 10%;
}
.target,
.ideas {
  display: flex;
  padding-right: 15%;
  padding-left: 15%;
  margin-top: 20vh;
}
.target-text {
  position: relative;
  width: 40vw;
}
.target-img {
  vertical-align: middle;
  height: calc(100% - 50px);
  margin-left: 20%;
  margin-top: 5%;
  box-shadow: 60px 60px 0px #333333;
}
.target-text p {
  padding-top: 5%;
  padding-left: 10%;
  font-size: calc(14px + 0.5vw);
  color: #a2a4aa;
  text-align: justify;
}
.target-text .target-text-background {
  position: absolute;
  z-index: -99;
  font-size: calc(85px + 1vw);
  opacity: 0.07;
  top: -2%;
  left: -30%;
  margin: 0 auto;
  width: 140%;
}

.ideas-text {
  position: relative;
}
.ideas-text p {
  font-size: calc(14px + 0.5vw);
  color: #a2a4aa;
  text-align: justify;
  padding-bottom: 1em;
}
.ideas-text .ideas-text-background {
  position: absolute;
  z-index: -99;
  font-size: calc(85px + 1vw);
  opacity: 0.07;
  top: 0;
  left: -7%;
  margin: 0 auto;
}
.ideas-subtitle {
  font-size: calc(16px + 0.5vw);
  color: #a2a4aa;
  text-align: left;
  padding-left: 20%;
  padding-top: 0.5em;
  padding-bottom: 5em;
  width: 60%;
}
.ideas-text-paragraph {
  display: flex;
  position: relative;
  width: 90%;
  margin-left: 10%;
}
.ideas-paragraph {
  display: inline-block;
  margin-right: 5%;
  width: 40%;
  color: #a2a4aa;
  text-align: justify;
  margin-bottom: 3%;
}
.ideas-paragraph-2 {
  padding-top: 0.8em;
}
.uppercase-letter {
  font-size: 100pt;
  font-weight: 700;
  color: #000000;
  line-height: 0em;
}
.ideas-img {
  position: absolute;
  z-index: -99;
  left: 80%;
}
.ideas-button {
  padding: 10px 30px 10px 30px;
  color: #ff0000;
  border: 2px solid #dbdbdb;
  font-size: calc(16px + 0.5vw);
  font-weight: 500;
  margin-left: 10%;
}
.ideas-button:hover {
  text-decoration: none;
  color: #be131d;
}

.works {
  position: relative;
  padding-right: 15%;
  padding-left: 15%;
  margin-top: 10%;
}
.works h1 {
  margin-top: 20%;
}
.works-examples {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10%;
  width: 120%;
}

.works-card {
  margin-bottom: 3vmin;
  margin-right: 1vmin;
  width: 43vmin;
}

.works-card:first-child {
  border: 2px solid #dbdbdb;
  min-height: 30vmin;
  padding: 3vmin 8vmin 0vmin 4vmin;
}

.works-card h2 {
  font-size: calc(14px + 1.2vw);
  padding-bottom: 2vmin;
  text-align: justify;
}
.works-card p {
  width: 100%;
  font-size: calc(14px + 0.5vw);
  line-height: calc(14px + 1vw);
  text-align: justify;
  color: #a2a4aa;
  overflow: hidden;
}
.works-card img {
  width: 100%;
}
.works-background {
  position: absolute;
  z-index: -99;
  font-size: calc(85px + 1vw);
  opacity: 0.03;
  top: 1%;
  left: 10%;
  margin: 0 auto;
}
.works-portfolio {
  margin-top: 3vh;
}
.works-portfolio-button {
  text-transform: uppercase;
  padding: 3vmin 5vmin 3vmin 4vmin;
  color: #ff0000;
  font-size: calc(16px + 0.5vw);
  font-weight: 700;
}
.works-portfolio-button:hover {
  text-decoration: none;
  color: #be131d;
}

.contact {
  position: relative;
  display: inline-block;
  padding-right: 15%;
  padding-left: 15%;
  margin-top: 10%;
}
.contact-text {
  display: block;
  margin-right: 5%;
  margin-top: 5%;
  width: 40%;
  font-size: calc(16px + 0.5vw);
  color: #a2a4aa;
  text-align: justify;
  margin-bottom: 3%;
}
.contact-form {
  position: relative;
  margin-left: 15%;
}
.contact-form-info {
  display: inline-block;
  margin-left: 5%;
  font-size: calc(14px + 0.5vw);
}
.contact-form input {
  display: block;
  margin-right: 1%;
  padding: 15% 10% 10% 5%;
  width: 100%;
  border: none;
  border-bottom: 2px solid #a2a4aa;
}

.contact-form-info:last-child {
  float: right;
  margin-right: 10%;
}
.contact-form-info:last-child input {
  padding-bottom: 75%;
}
.contact-button {
  float: right;
  padding: 10px 30px 10px 30px;
  margin-top: 10%;
  background-color: #d22425;
  color: #ffffff;
  border: 2px solid #dbdbdb;
  font-size: calc(14px + 0.5vw);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2pt;
}
.contact-button:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #be131d;
  cursor: pointer;
}
.contact-form-img {
  position: absolute;
  margin-left: 40%;
  margin-top: 20vh;
}
.contact-background {
  position: absolute;
  top: 30%;
  left: calc(8vw - 100px);
  z-index: -99;
  font-size: calc(85px + 1vw);
  opacity: 0.07;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.footer-img {
  margin-top: 5%;
}

@media screen and (max-width: 1300px) {
  body {
    overflow-x: hidden;
  }
  .header-tagline {
    display: flex;
    position: relative;
    margin: 0 auto;
    top: 5vw;
    left: 10%;
  }
  img {
    width: calc(20vh + 5%);
    height: auto;
  }
  .container {
    padding-left: 0;
  }
  .header-scroll img {
    width: 5vh;
  }
  .header-scroll {
    margin-top: calc(10vh - 20px);
  }
  .target,
  .ideas {
    display: block;
    padding-left: 5%;
  }
  .target-text,
  .ideas-text {
    width: 100%;
    padding-left: 3%;
  }
  .ideas-subtitle {
    width: 90%;
  }
  .ideas-text-paragraph {
    display: inline-block;
  }
  .ideas-paragraph {
    display: inline-block;
    width: 80%;
  }
  .ideas-img {
    position: absolute;
    z-index: -99;
    left: 80%;
    top: 3vh;
  }
  .contact-form-info {
    display: block;
  }
}
