body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #ffffff;
}
img {
  max-width: 100%;
}
h1 {
  font-size: calc(30px + 1vw);
}
h3 {
  padding-left: 10%;
  font-size: calc(10px + 0.5vw);
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 5%;
}
header {
  display: block;
  padding-left: 5%;
  padding-right: 5%;
}
.header-logo {
  height: 100%;
  width: auto;
}
.header-logo img {
  height: calc(75vh - 100px);
  width: auto;
}
.header-menu {
  position: absolute;
  top: 8vh;
  left: 90vw;
  box-sizing: border-box;
  cursor: pointer;
}
.menu {
  position: relative;
  display: block;
  float: right;
  width: 30px;
  height: 10px;
  cursor: pointer;
}

#menu-bar {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -5vh;
}
.bar1,
.bar2,
.bar3 {
  width: calc(25px + 0.8vw);
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 9px);
  transform: rotate(-45deg) translate(-8px, 8px);
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.header-tagline {
  display: block;
  position: absolute;
  top: 20%;
  left: 30%;
}
.header-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  line-height: calc(40px + 1vw);
}
.header-text-line-1 {
  text-align: left;
  color: #dbdbdb;
  font-size: calc(20px + 1vw);
  font-weight: 100;
}
.header-text-line-2 {
  text-transform: uppercase;
  color: #d22425;
  font-weight: 700;
  font-size: calc(30px + 2vw);
  line-height: calc(18px + 1vw);
}
.header-text .text-img {
  display: inline;
}
.header-text-line-3 {
  flex-wrap: wrap;
  text-align: left;
  color: #dbdbdb;
  font-size: calc(25px + 1.5vw);
  font-weight: 100;
}
.header-scroll {
  text-align: center;
  margin-top: 20vh;
  margin-bottom: 10%;
  cursor: pointer;
}
.header-scroll img {
  width: 3vw;
}
.container {
  padding-left: 5%;
  margin-top: 10%;
}
.target,
.ideas {
  display: flex;
  padding-right: 15%;
  padding-left: 15%;
  margin-top: 15vh;
}
.target-text {
  position: relative;
  width: 40vw;
}
.target-img {
  vertical-align: middle;
  height: calc(100% - 50px);
  margin-left: 20%;
  margin-top: 5%;
  box-shadow: 5vw 5vw 0px #333333;
  margin-bottom: 5vh;
}
.target-text p {
  padding-top: 5%;
  padding-left: 10%;
  font-size: calc(7px + 0.5vw);
  color: #a2a4aa;
  text-align: justify;
}
.target-text .target-text-background {
  position: absolute;
  z-index: -99;
  font-size: calc(45px + 1vw);
  opacity: 0.07;
  top: -2%;
  left: -20%;
  margin: 0 auto;
  width: 140%;
}

.ideas-text {
  position: relative;
}
.ideas-text p {
  font-size: calc(7px + 0.5vw);
  color: #a2a4aa;
  text-align: justify;
  padding-bottom: 1em;
}
.ideas-text .ideas-text-background {
  position: absolute;
  z-index: -99;
  font-size: calc(45px + 1vw);
  opacity: 0.07;
  top: 0;
  left: -7%;
  margin: 0 auto;
}
.ideas-subtitle {
  font-size: calc(8px + 0.5vw);
  color: #a2a4aa;
  text-align: left;
  padding-left: 20%;
  padding-top: 1vh;
  padding-bottom: 3vh;
  width: 60%;
}
.ideas-text-paragraph {
  display: flex;
  position: relative;
  width: 90%;
  margin-left: 10%;
}
.ideas-paragraph {
  display: inline-block;
  margin-right: 5%;
  width: 40%;
  color: #a2a4aa;
  text-align: justify;
}
.uppercase-letter {
  font-size: calc(40px + 1vw);
  font-weight: 700;
  color: #000000;
  line-height: 0em;
}
.ideas-img {
  position: absolute;
  z-index: -99;
  left: 85%;
}
.ideas-text-paragraph img {
  height: 30vh;
  width: auto;
}
.ideas-button {
  padding: 1vh 1.5vw 1vh 1.5vw;
  color: #ff0000;
  border: 1px solid #dbdbdb;
  opacity: 0.7;
  font-size: calc(8px + 0.5vw);
  font-weight: 500;
  margin-left: 10%;
}
.ideas-button:hover {
  text-decoration: none;
  color: #be131d;
}

.works {
  position: relative;
  padding-right: 15%;
  padding-left: 15%;
  margin-top: 15vh;
}
.works-examples {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 8vh;
  width: 120%;
}

.works-card {
  margin-bottom: 3vmin;
  margin-right: 1vmin;
  width: 43vmin;
}

.works-card:first-child {
  border: 1.5px solid #dbdbdb;
  opacity: 0.7;
  min-height: 30vh;
  padding: 3vh 4vh 0 4vh;
}
.works-card h2 {
  font-size: calc(7px + 1vw);
  padding-bottom: 2vmin;
  text-align: justify;
}
.works-card p {
  width: 100%;
  font-size: calc(6px + 0.5vw);
  line-height: calc(6px + 0.8vw);
  text-align: justify;
  color: #a2a4aa;
  overflow: hidden;
  word-wrap: break-word;
}
.works-card img {
  width: 100%;
}
.works-background {
  position: absolute;
  z-index: -99;
  font-size: calc(45px + 1vw);
  opacity: 0.03;
  top: 1%;
  left: 10%;
  margin: 0 auto;
}
.works-portfolio {
  margin-top: 3vh;
}
.works-portfolio-button {
  text-transform: uppercase;
  padding: 3vmin 5vmin 3vmin 4vmin;
  color: #ff0000;
  font-size: calc(8px + 0.5vw);
  font-weight: 700;
}
.works-portfolio-button:hover {
  text-decoration: none;
  color: #be131d;
}

.contact {
  position: relative;
  display: inline-block;
  padding-left: 15%;
  margin-top: 15vh;
}
.contact-text {
  display: block;
  margin-top: 5vh;
  width: 40%;
  font-size: calc(8px + 0.5vw);
  color: #a2a4aa;
  text-align: justify;
}
.contact-form {
  position: relative;
  margin-left: 10vw;
}
.contact-form-info {
  display: inline-block;
  margin-left: 6vw;
  font-size: calc(7px + 0.5vw);
}
.contact-form input {
  display: block;
  padding: 6vh 2vh 3vh 5vh;
  width: 95%;
  border: none;
  border-bottom: 1.5px solid #a2a4aa;
}

.contact-form-info:last-child {
  float: right;
}
.contact-form-info:last-child input {
  padding-bottom: 75%;
}
.contact-button {
  float: right;
  padding: 1vh 3vh 1vh 3vh;
  margin-top: 10vh;
  background-color: #d22425;
  color: #ffffff;
  font-size: calc(7px + 0.5vw);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1pt;
  margin-right: 1vw;
}
.contact-button:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #be131d;
  cursor: pointer;
}
.contact-form-img {
  position: absolute;
  margin-left: 40%;
  margin-top: 20vh;
}
.contact-form-img img {
  width: 2vh;
}
.contact-background {
  position: absolute;
  top: 30%;
  left: calc(8vw - 100px);
  z-index: -99;
  font-size: calc(45px + 1vw);
  opacity: 0.07;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.footer-img {
  margin-top: 3vh;
}
.footer-img img {
  height: 25vh;
  width: auto;
}

@media screen and (max-width: 740px) {
  body {
    overflow-x: hidden;
  }
  img {
    width: calc(20vh + 5%);
    height: auto;
  }
  .container {
    padding-left: 0;
  }
  .header-tagline {
    display: flex;
    position: relative;
    margin: 0 auto;
    top: 5vw;
    left: 5%;
  }
  .header-scroll img {
    width: 5vh;
  }
  .header-scroll {
    margin-top: calc(10vh - 20px);
  }
  .target,
  .ideas {
    display: block;
    padding-left: 5%;
  }
  .target-text,
  .ideas-text {
    width: 100%;
    padding-left: 3%;
  }
  .ideas-subtitle {
    width: 90%;
  }
  .ideas-text-paragraph {
    display: inline-block;
  }
  .ideas-paragraph {
    display: inline-block;
    width: 80%;
  }
  .ideas-img {
    position: absolute;
    z-index: -99;
    left: 80%;
    top: 3vh;
  }
  .contact-form-info {
    display: block;
  }
  .works-card:first-child {
    min-height: 20vh;
    padding: 2vh 4vh 0 2vh;
  }
  .works-card p {
    font-size: calc(8px + 0.5vw);
    line-height: calc(8px + 0.8vw);
  }
}
